* {
  box-sizing: border-box;
}

.header {
  background-color: blue;
  color: white;
  padding: 2%;
  text-align: center;
  margin: 0;
  
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  margin-top: 10px;
}

.content {
  display: flex;
}

.form-label {
  font-size: 1.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-body,
.city-choice {
  padding: 4%;
  margin: 2%;
  border-style: ridge;
  border-radius: 15px;
  border-width: 50%;
}

.btn {
  background-color: slategray;
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
  width: 100%;
}

.btn:hover {
  background-color:  darkslategray;
  color: white;
}

.weather {
  margin: 1%;
  padding-bottom: 1%;
  padding-inline: 2%;
  border-style: ridge;
  border-radius: 15px;
  border-width: 50%;
}

.weatherfuture {
  margin: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-inline: 2%;
  background-color: darkslategrey;
  color: white;
  border-radius: 15px;
}

/* HEIGHT / WIDTH UTILS */
.min-100-vh {
  min-height: 100vh;
}

.min-100-vw {
  min-width: 100vw;
}

/* FLEX CONTENT */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.col-auto {
  flex-grow: 1;
}

.col-1 {
  flex: 0 0 calc(100% * 1 / 12 - 2%);
}

.col-2 {
  flex: 0 0 calc(100% * 2 / 12 - 2%);
}

.col-3 {
  flex: 0 0 calc(100% * 3 / 12 - 2%);
}

.col-4 {
  flex: 0 0 calc(100% * 4 / 12 - 2%);
}

.col-5 {
  flex: 0 0 calc(100% * 5 / 12 - 2%);
}

.col-6 {
  flex: 0 0 calc(100% * 6 / 12 - 2%);
}

.col-7 {
  flex: 0 0 calc(100% * 7 / 12 - 2%);
}

.col-8 {
  flex: 0 0 calc(100% * 8 / 12 - 2%);
}

.col-9 {
  flex: 0 0 calc(100% * 9 / 12 - 2%);
}

.col-10 {
  flex: 0 0 calc(100% * 10 / 12 - 2%);
}

.col-11 {
  flex: 0 0 calc(100% * 11 / 12 - 2%);
}

.col-12 {
  flex: 0 0 100%;
}



/* col-md */
@media screen and (min-width: 768px) {


  .col-md-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }

  .col-md-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }

  .col-md-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }

  .col-md-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }

  .col-md-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }

  .col-md-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }

  .col-md-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }

  .col-md-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }

  .col-md-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }

  .col-md-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }

  .col-md-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }

  .col-md-12 {
    flex: 0 0 100%;
  }
}
